@font-face {
  font-family: 'mont-heavy';
  src: url('assets/fonts/mont-heavy/mont-heavy.woff2') format('woff2'),
    url('assets/fonts/mont-heavy/mont-heavy/mont-heavy.woff') format('woff'),
    url('assets/fonts/mont-heavy/mont-heavy/mont-heavy.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  /* color: white;
  font-family: 'mont-heavy';
  margin-left: 20px;
  margin-right: 20px; */
}

h4 {
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 25px;
}

/* #instructions-header {
  color: white;
  font-family: 'mont-heavy';
  text-align: left;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
} */

.instructions {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* row-gap: 10px; */
  /* align-items: center; */
  color: white;
  font-family: 'mont-heavy';
  /* text-align: left; */
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: auto;
  height: 500px;
  /* align-items: center; */
}

img {
  margin: auto;
  display: block;
  width: 250px;
  height: auto
}

/* #instructions input {
  display: block;
} */


/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}